/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #249688 0px,
    #249688 15%,
    #d7dbd5 15%,
    #d7dbd5 100%
  );
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

/* /global */

/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/* /main */

/* chat app */

.container-chat {
  display: flex;
  width: 80%;
  height: 90%;
  background-color: salmon;
}

.container-chat .menu-left {
  width: 35%;
  height: 100%;
  background-color: seagreen;
}

.container-chat .chat-content {
  width: 65%;
  height: 100%;
  background-color: skyblue;
}

/* menu left */

.container-chat .menu-left .nav-top-menu {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

.container-chat .menu-left .nav-top-menu .user-info {
  display: flex;
  align-items: center;
  height: 100%;
}

.container-chat .menu-left .nav-top-menu .user-info img {
  height: 50px;
  margin-right: 7px;
  border-radius: 100%;
}

.container-chat .menu-left .nav-top-menu .user-info span {
  font-weight: 700;
}

.container-chat .menu-left .nav-top-menu .tools-top-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.container-chat .menu-left .nav-top-menu .tools-top-menu i {
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.3;
  cursor: pointer;
}

.container-chat .menu-left .nav-top-menu .tools-top-menu i:hover {
  opacity: 0.8;
}

.container-chat .menu-left .notification-alert {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #8edafc;
}

.container-chat .menu-left .notification-alert .container-bell {
  margin-right: 7px;
}

.container-chat .menu-left .notification-alert .container-bell i {
  padding: 10px;
  color: #8edafc;
  background-color: #ffffff;
  border-radius: 50%;
}

.container-chat
  .menu-left
  .notification-alert
  .text-notification
  p:first-child {
  font-weight: 700;
}

.container-chat
  .menu-left
  .notification-alert
  .text-notification
  p:nth-child(2) {
  opacity: 0.5;
  text-decoration: underline;
}

.container-chat .menu-left .contacts-menu {
  width: 100%;
  height: calc(100% - 150px);
  background-color: lightgrey;
  /* background da cambiare */
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.container-chat .menu-left .contacts-menu .search-start-chat {
  width: 100%;
}

.container-chat .menu-left .contacts-menu .search-start-chat input {
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 3px;
}

.container-chat .menu-left .contacts-menu .search-start-chat input:focus {
  outline: none;
}

.container-chat .menu-left .contacts-menu .all-contacts {
  height: calc(100% - 30px);
  margin-top: 5px;
  padding-top: 5px;
  background-color: white;
}

.container-chat .menu-left .contacts-menu .all-contacts ul li {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  font-weight: 700;
}

.container-chat .menu-left .contacts-menu .all-contacts ul li:last-child {
  border: none;
}

.container-chat .menu-left .contacts-menu .all-contacts ul li:hover {
  background-color: lightgray;
}

.container-chat .menu-left .contacts-menu .all-contacts ul li img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* /menu left */

/* chat content */

.container-chat .chat-content .nav-top-chat {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

.container-chat .chat-content .nav-top-chat .chat-info {
  height: 100%;
  display: flex;
  align-items: center;
}

.container-chat .chat-content .nav-top-chat .chat-info .avatar-chat img {
  height: 50px;
  margin-right: 7px;
  border-radius: 100%;
}

.container-chat .chat-content .display-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  padding-top: 20px;
  overflow: auto;
}

.container-chat .chat-content .display-chat .container-messages {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30%;
  min-height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

.container-chat
  .chat-content
  .display-chat
  .container-messages
  .vg-dropdown-msg {
  visibility: hidden;
  margin-left: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.container-chat
  .chat-content
  .display-chat
  .container-messages:hover
  .vg-dropdown-msg {
  visibility: visible;
}

.container-chat
  .chat-content
  .display-chat
  .container-messages
  .dropdown-messages {
  position: absolute;
  top: 115%;
  z-index: 999;
  right: 0;
  /* border: 1px solid black; */
  min-width: 100px;
  min-height: 200px;
  background-color: white;
}

/* classe per messaggi inviati da me */

.sent-msg {
  align-self: flex-start;
  background-color: white;
}

/* classe per messaggi ricevuti */

.received-msg {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.container-chat .chat-content .inputs-chat {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f3eeea;
}

.container-chat .chat-content .inputs-chat .emoticons,
.container-chat .chat-content .inputs-chat .audios {
  width: 70px;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1.5em;
}

.container-chat .chat-content .inputs-chat .emoticons:hover,
.container-chat .chat-content .inputs-chat .audios:hover {
  opacity: 0.8;
}

.container-chat .chat-content .inputs-chat .text-messages {
  width: calc(100% - 140px);
}

.container-chat .chat-content .inputs-chat .text-messages input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}

/* /chat content */

/* /chat app */
